* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    padding-block: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 1px solid rgb(134, 10, 10);
}

nav ul {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.material-symbols-outlined {
    font-size: 40px;
    cursor: pointer;
}

nav ul li.select {
    color: white;
}

span#select {
    position: absolute;
    left: 53px;
    z-index: -1;
    width: 55px;
    height: 55px;
    background-color: rgb(134, 10, 10);
    border-radius: 50%;
    transform: translateY(-7px);
    transition: all .3s ease-in-out;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

.container {
    margin: 100px auto 200px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.cursos-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.curso {
    width: 200px;
    box-shadow: 5px 5px 10px 0px rgba(134, 10, 10, 0.75);
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}

.curso h3 {
    text-align: center;
    padding: 12px;
    color: rgb(134, 10, 10);
}