header {
    position: relative;
    margin-bottom: 80px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #140A86;
}

header .logo-container {
    width: 150px;
    overflow: hidden;
}

header .logo-container img {
    width: 100%;
}

header .material-symbols-outlined {
    color: white;
    font-size: 60px;
    cursor: pointer;
}

header #menu-desplegable {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 118px;
    width: 100%;
    height: calc(100vh - 118px);
    background-color: #140A86;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
}

header #menu-desplegable.show {
    transform: translateX(0);
}

header #menu-desplegable ul {
    margin-top: 80px;
    border-top: 1px solid white;
}

header #menu-desplegable ul a{
    text-decoration: none;
    color: white;
}

header #menu-desplegable ul li {
    padding: 20px;
    border-bottom: 1px solid white;
    transition: all .3s ease-in-out;
}

header #menu-desplegable ul a:hover li{
    background-color: white;
    color: #140A86;
    transition: all .3s ease-in-out;
}